.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-btn {
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
}

.form-btn:hover {
    text-decoration: underline;
}

.form-div {
    height: 0;
    overflow: hidden;
    transition: all .25s ease;
}