.items-container {
    display: grid;
    grid-template: "item item item item" 1fr / auto;
}

.form-btn {
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
}

.form-btn:hover {
    text-decoration: underline;
}

.form-div {
    height: 0;
    overflow: hidden;
    transition: all .25s ease;
}